.middle {
  width: 1200px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 138px;
  /*选择银行卡及支付*/
}
.middle > div:first-child {
  overflow: hidden;
  border: 1px solid #dddddd;
  width: 1200px;
}
.middle > div:first-child img {
  float: left;
  width: 55px;
  height: 54px;
  margin: 26px 26px 0 20px;
  padding-bottom: 16px;
}
.middle > div:first-child img + div {
  float: left;
}
.middle > div:first-child img + div p:not(:last-child) {
  font-size: 14px;
  color: #000;
  line-height: 26px;
  font-weight: bold;
}
.middle > div:first-child img + div p:not(:last-child):first-child {
  line-height: 32px;
}
.middle > div:first-child img + div p:nth-child(2) span {
  color: #ff0000;
}
.middle > div:first-child img + div p:last-child {
  font-size: 12px;
  color: #656666;
  line-height: 26px;
}
.middle > div:first-child img + div p:last-child span {
  color: #ff0000;
}
.middle > div:first-child img + div p:last-child a {
  font-size: 12px;
  color: #056e7e;
  margin-left: 116px;
  position: relative;
}
.middle > div:first-child img + div p:last-child a span {
  width: 0;
  height: 0;
  border-top: 6px solid #056e7e;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin-left: 6px;
  position: absolute;
  left: 52px;
  top: 6px;
}
.middle form {
  width: 1160px;
  margin-top: 40px;
  border: 1px solid #e6e6e6;
  padding-top: 36px;
  padding-right: 40px;
}
.middle form h4 {
  font-size: 14px;
  color: #ff0000;
  display: inline-block;
  width: 176px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border: 1px solid #e6e6e6;
  border-bottom: transparent;
  border-left: transparent;
  position: relative;
  /*您可以选择支付方式的边框调整*/
}
.middle form h4:before {
  content: "";
  width: 984px;
  height: 1px;
  background-color: #e6e6e6;
  display: inline-block;
  position: absolute;
  top: 38px;
  left: 176px;
}
.middle form > div:first-of-type {
  padding-left: 42px;
  border: 1px solid #e6e6e6;
  border-top: transparent;
  border-left: transparent;
  padding-bottom: 20px;
}
.middle form > div:first-of-type h5 {
  font-size: 14px;
  color: #000;
  line-height: 34px;
  display: inline-block;
  width: 1080px;
  height: 34px;
  border-bottom: 1px dotted #e6e6e6;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: normal;
}
.middle form > div:first-of-type ul {
  overflow: hidden;
}
.middle form > div:first-of-type ul li {
  float: left;
  width: 192px;
  height: 40px;
  border: 1px solid #e6e6e6;
  margin: 14px 32px;
  margin-left: 0;
}
.middle form > div:first-of-type ul li input {
  vertical-align: 94%;
  margin-left: 10px;
}
.middle form > div:first-of-type ul li img {
  margin-left: 20px;
  width: 149px;
  height: 40px;
}
.middle form > div:nth-child(3) {
  /*支付金额显示部分*/
  height: 60px;
  width: 1200px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-top: transparent;
  border-left: transparent;
}
.middle form > div:nth-child(3) div:first-child {
  float: left;
  margin-left: 56px;
}
.middle form > div:nth-child(3) div:first-child img {
  width: 120px;
  height: 30px;
  vertical-align: middle;
}
.middle form > div:nth-child(3) div:first-child span {
  font-size: 14px;
  color: #000;
  line-height: 60px;
}
.middle form > div:nth-child(3) div:first-child span:first-of-type {
  margin-left: 54px;
}
.middle form > div:nth-child(3) div:first-child input {
  vertical-align: middle;
  margin-right: 24px;
}
.middle form > div:nth-child(3) div:last-child {
  float: right;
  font-size: 14px;
  color: #666666;
  line-height: 60px;
}
.middle form > div:nth-child(3) div:last-child span:last-child {
  font-size: 18px;
  color: #ff0000;
  margin-right: 60px;
}
.middle form > div:nth-child(4) p:first-child {
  font-size: 12px;
  color: #000;
  margin-top: 16px;
}
.middle form > div:nth-child(4) p:first-child span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: #fff;
  background-color: #11cd6e;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
  margin-left: 54px;
  margin-right: 12px;
}
.middle form > div:nth-child(4) p:nth-child(2) {
  font-size: 14px;
  color: #000;
  margin-left: 54px;
  margin-top: 20px;
}
.middle form > div:nth-child(4) input {
  width: 190px;
  height: 30px;
  margin-left: 50px;
  margin-top: 20px;
}
.middle form > div:nth-child(4) a {
  font-size: 12px;
  color: #666666;
  margin-left: 10px;
}
.middle form > div:nth-child(4) p:last-child {
  font-size: 12px;
  color: #999999;
  margin-left: 50px;
  margin-top: 10px;
}
.middle form button {
  width: 160px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  background-color: #ff0000;
  border: none;
  outline: none;
  margin: 40px 0 10px 46px;
}
