.middle {
  width: 1160px;
  padding: 80px 20px 146px 50px;
  margin: 0 auto;
}
.middle h3 {
  text-align: center;
  font-size: 30px;
  font-family: 微软雅黑;
  color: #000;
  line-height: 70px;
  font-weight: normal;
}
.middle form {
  width: 1160px;
  margin: 0 auto;
}
.middle form div {
  width: 578px;
  height: 78px;
  border: 1px solid #b3b3b3;
  margin: 0 auto;
  margin-top: 30px;
}
.middle form div:nth-child(6) input {
  width: 270px;
}
.middle form div:nth-child(6) a {
  display: inline-block;
  width: 148px;
  height: 66px;
  font-size: 20px;
  line-height: 66px;
  text-align: center;
  color: #000;
  vertical-align: inherit;
  background-color: #d7d7d7;
}
.middle form div:nth-child(7) {
  width: 578px;
  height: auto;
  font-size: 20px;
  border: none;
  margin-top: 20px;
}
.middle form div:nth-child(7) a {
  font-size: 20px;
  color: #056e7e;
}
.middle form div:nth-child(7) input[type=checkbox] {
  width: 26px;
  height: 26px;
  margin-left: 56px;
  margin-right: 10px;
  vertical-align: middle;
}
.middle form div label {
  font-size: 20px;
  color: #000;
  line-height: 78px;
  display: inline-block;
  width: 150px;
  text-indent: 10px;
  font-family: 微软雅黑;
}
.middle form div input {
  width: 426px;
  height: 74px;
  font-size: 20px;
  line-height: 78px;
  outline: none;
  border: none;
}
.middle form div b {
  font-size: 14px;
  color: #ff0000;
}
.middle form button {
  width: 580px;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  background-color: #ff0000;
  display: block;
  margin: 50px auto;
  border: none;
}
